%script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
%link#bootstrap-css{:href => "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
%script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"}

.col-md-12.text-center.bg-dark.text-white.p10.p-3
  %h3.d-inline= "#{current_user.role.titleize}'s Portal"
  = link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-primary text-white pull-right')

.container.mt-10
  .row{style: "margin-top: 10%;"}
    .col-md-10.col-md-offset-1
      .panel.panel-default.panel-table
        .panel-heading
          .row
            .col.col-xs-6
              %h3.panel-title Patient list
        .panel-body
          %table#mytable.table.table-striped.table-bordered.table-list
            %thead
              %tr
                %th.hidden-xs ID
                %th.hidden-xs Name
                %th.col-text Age
                %th.col-text Action
            %tbody
              - @patients.order('id').each do |patient|
                %tr
                  %td= patient.id
                  %td= patient.name
                  %td= patient.age
                  %td
                    =# link_to 'Simulate', patient_simulators_path(patient)
                    - if current_user.role == "doctor"
                      %a.btn.btn-danger.text-white{href: patient_readings_path(patient)}
                        %span.fa.fa-heartbeat{"aria-hidden" => "true"}
                      %a.btn.btn-primary.text-white.ml-2.pl-3.pr-3{href: ""}
                        %span.fa.fa-file-medical-alt{"aria-hidden" => "true"}

                      %a.btn.btn-warning.text-white.ml-2.pl-3.pr-3{href: ""}
                        %span.fa.fa-thermometer-empty{"aria-hidden" => "true"}
                    -else
                      - if patient.feedback.present?
                        - if !patient.is_read?
                          %a.btn.btn-warning.text-white{href: patient_path(patient), 'data-remote' => true}
                            Feedback
                        -else
                          %a.btn.btn-default{href: patient_path(patient), 'data-remote' => true}
                            Feedback

                      -else
                        .grey-dot
                          .fa.fa-question.text-white{style: "margin-top: 6px !important; margin-left: 7px !important;"}
                      
        
.modal{:role => "dialog", :tabindex => "-1", id: "match_results"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Feedback
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close



:css
  .grey-dot {
    height: 25px;
    width: 25px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
  }
 
